@import "tailwindcss";

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

@plugin "flyonui" {
	themes: light --default, dark --prefersdark, vscode;
}

/* Configure dark mode variant for Tailwind v4 */
@variant dark (&:where(.dark, .dark *));
